@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Mulish', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.container{
  margin:20px;
}
.program-location {
  margin-top: 20px;
  padding: 25px 0px;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.container .location-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.container .location-container .location {
  text-align: center;
  padding: 1rem;
  background: #fcdccf;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  outline-offset: -1.5rem;
  cursor: pointer;
  border-radius: 1rem;
}

.container .location-container .location:hover {
  outline-offset: 0;
}

.container .location-container .location img {
  width: 100%;
  max-width: 350px;
  border-radius: 1rem;
  transition: .3s ease;
}

.container .location-container .location img:hover {
  transform: scale(1.0);
  border-radius: 1.0rem;
}

.container .location-container .location h3 {
  padding: .5rem 0;
  font-size: 1rem;
  color: #444;
}

.container .location-container .location .address {
  font-size: .8rem;
}

.location-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  display: none;
  align-items: center;
  justify-content: center;
}

.location-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 40rem;
}

.location-preview .preview.active {
  display: inline-block;
}

.location-preview .preview img {
  height: 30rem;
}

.location-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.location-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.location-preview .preview h3 {
  color: #444;
  padding: .5rem 0;
  font-size: 2.5rem;
}

.location-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.location-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.location-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: .1rem solid #444;
}
.button-link-schedule {
  display: inline-block;
  padding: 6px;
  background-color: #ff6700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 10px;
}

.button-link-schedule:hover {
  background-color: #555;
}
/* .container {
  margin-top: 100px;
}
.image-header {
  box-shadow: 0 2px 4px 0 rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #f36326;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 100px;
}
.top-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}
.mid-container {
  display: flex;
  justify-content: right;
}
.dropdown a {
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0.2, 0.2, 0.2, 0.2);
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}
.mid-container > .dropdown {
  margin: 0px 10px 0px 10px;
  text-align: center;
  font-size: 17px;
  height: 30px;
}
h3 {
  z-index: 10;
  background-color: #fcdccf;
  display: flex;
  align-items: center;
  height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 5px;
  margin-top: -40px;
  width: 25%;
  padding: 10px 10px 10px 40px;
  margin-left: 20px;
}
.image-container {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  display: flex;
}

img {
  margin-top: 10px;
  border-radius: 10px;
  background-size: cover;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}
.image-container > .img {
  margin: 0px 20px 0px 20px;
}
.img {
  box-shadow: 0 2px 4px 0 rgba(0.2, 0.2, 0.2, 0.2);
  width: 200px;
  height: 250px;
}
.content p {
  margin-left: 20px;
}
.content h4 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.button-jadwal {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.jadwal {
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0.2, 0.2, 0.2, 0.2);
  font-size: 12px;
  background-color: #f36326;
  color: #fff;
  text-decoration: none;
} */
