@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Mulish', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contact-details {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: 45%;
}

.pessenger-data {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 5px;
  padding: 20px;
  width: 45%;
}
h2 {
  display: flex;
  justify-content: center;
}

.pilih-kursi {
  background-color: orange;
  color: white;
  border: 1px solid #ddd;
  border-radius: 2mm;
  padding: 10px 20px;
  width: 50%;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

/* FORM */
form {
  margin-top: 5px;
}

.form-row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}
.inputan {
  flex: 1;
  margin-right: 20px;
}

.form-row .form-group input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 2mm;
  height: 20px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group2 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.input-group label {
  margin-bottom: 5px;
}
.input-group2 input {
  height: 20px;
  margin-top: 5px;
  flex-wrap: wrap;
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 2mm;
}
.input-group input {
  height: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 2mm;
}

.dropdown {
  width: 300px;
  height: fit-content;
  box-sizing: border-box;
  position: relative;
}
p {
  margin-top: 20px;
  font-weight: bold;
}
.input-box {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  outline: 0.3mm solid rgba(0, 0, 0, 0.15);
  border-radius: 2mm;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.input-box::before {
  content: 'expand_more';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 18px;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  width: fit-content;
  height: fit-content;
}
.input-box.open::before {
  content: 'expand_less';
}
.input-box:empty::after {
  content: 'Select Title';
  color: rgba(0, 0, 0, 0.5);
}
.list {
  z-index: 20;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: fit-content;
  background: white;
  margin-top: 10px;
  border-radius: 2mm;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-height: 0;
  transition: 0.25s ease-out;
}
.list input {
  display: none;
}
.list label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.list label .material-icons-outlined,
.input-box .material-icons-outlined {
  margin-right: 5px;
  font-size: 22px;
}
.list label:hover {
  background: rgba(0, 0, 0, 0.08);
}
input:checked + label {
  color: rgb(20, 117, 213);
  background: rgb(238, 245, 252);
}
input:checked + label::before {
  content: 'done';
  font-family: 'Material Icons';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  font-size: 18px;
}
.open {
  outline: 0.7mm solid rgb(20, 117, 213);
}
.title {
  margin-bottom: 5px;
}
.search-box {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 8px;
}
#search {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 1mm;
  border: none;
  outline: 0.3mm solid rgba(0, 0, 0, 0.15);
}
#search:focus {
  outline: 0.5mm solid rgba(0, 0, 0, 0.35);
}

/* popup*/
/* CSS untuk mengatur tampilan popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.button-popup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-popup > button {
  margin: 0px 20px 0px 20px;
  color: #ed5c01;
  background-color: #FCDCCF;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
