@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');
body {
  font-family: 'Mulish', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul {
  list-style: none;
}
.footer {
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
}

.foot-left img {
  margin-bottom: 20px ;
  margin-top: 20px;
  width: 134px;
}

.footer-col h4 {
  margin-top: 10px;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  margin-top: 10px;
  color: var(--light-text-color-body-1, #515151);
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.row2 p {
  text-align: center;
  color: var(--light-text-color-body-1, #515151);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.social-links a {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 10px 10px 0;
  color: black;
  transition: all 0.5s ease;
}

/*responsive*/
@media (max-width: 970px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
